body {background-color:magenta;
    background-image: url("https://www.pandasecurity.com/en/mediacenter/src/uploads/2020/08/covid-19-cybersecurity-statistics-hero.jpg");
    background-position: center;
background-size:fill;
font-style:oblique;
}
.opener{
    font-family: sans-serif;
    display: block; 
    width:40%;
text-align: center; 
margin: 15% auto;
background-color: #ffffff;; 
    padding:20px;
    border-radius: 30px;
     
    text-justify:inter-word;
}
.open_btn{
    font-size: 2em;
background-color: red;
color: lavenderblush;
width: 70%;
box-shadow: 0px 0px 20px 10px #ccffff;
}
#gamejoint {
    display:none; 
    width:60%; 
    margin: 15% auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gamer{
    background-color: red; 
    padding:20px;
    border-radius: 30px;
} 
.gameblue{
    background-color: royalblue;  
    padding:20px;
    border-radius: 30px;
}
.endgamecon{display: none;
    background-color: #000000; 
    padding:20px;
    border-radius: 30px;
    width:30%;
    margin: 15% auto;
    text-align: center;}
.endgamered{display: none;
    background-color: red; 
    padding:20px;
    border-radius: 30px;
    width:30%;
    margin: 15% auto;
    text-align: center;
}
.endgameblue{display: none;
    background-color: royalblue;  
    padding:20px;
    border-radius: 30px;
    width:30%;
    margin: 15% auto;
    text-align: center;
}
/* courtesy https://www.codegrepper.com/code-examples/css/outer+glow+css */
.activated { 
    margin:0px;
    position:relative;
    vertical-align:middle;
    width:150px;
    /* height:inherit; */
    /* border:3px solid yellow; */
    box-shadow: 0px 0px 20px 10px rgb(255, 230, 0);
}

    .playerzwrap{display:flex;
justify-content: space-evenly;
}
.redside{width:150px;
    height: 150px;
    color:#ffffff;
/* background-color: #000000; */
overflow:hidden;
margin-right: 50px;
}
.blueside{width:150px;
    height: 150px;
    color:#ffffff;
    /* background-color: #000000; */
    overflow:hidden;
    margin-left: 50px;
}
#redpic{
    margin:0px auto;
    position:relative;
    width:100%; 
    height:70%;
    vertical-align:middle;
    
/* border:4px solid yellow; */
}

#bluepic{
    margin:0px auto;
    position:relative;
    width:100%; 
    height:80%;
    /* courtesy https://www.w3schools.com/howto/howto_css_flip_image.asp */
    transform: scaleX(-1);
    vertical-align:middle;
    /* border:4px solid yellow; */
}
#playedit1{z-index: 5;}
h3 {margin:0px;}
.trumped{
    position:relative; 
    margin:auto;
overflow: hidden;
width:90%;
}
.trumped img{width:inherit;}

.defcon{
    border:4px inset #504e4e;
    height:29px;
    background-image: linear-gradient(52deg, #eed709, #b11515); 
overflow: hidden;
}
.defcon h1{margin:0px;
    font-size: inherit;
}
.redfin {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}